.doodleOfTheDayWrapper {
  text-align: center;
  display: table;
  height: 400px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.doodleOfTheDayCell {
  display: table-cell;
  vertical-align: middle;
}

.doodleOfTheDayWrapper h1 {
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
