.boxOfTheDayWrapper {
  text-align: center;
  display: table;
  height: 80vh;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.boxOfTheDayCell {
  display: table-cell;
  vertical-align: middle;
}

.boxOfTheDayWrapper h1 {
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
