.siteHeader {
  display: inline;
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

.siteHeaderLink {
  color: white;
  text-decoration: none;
}

.backBTN {
  float: left;
  margin-right: -24px;
  display: none;
}
.nav {
  float: right;
}
.nav ul {
  display: inline;
  color: white;
  list-style: none;
}

.nav li {
  margin-left: 1rem;
  float: right;
}

.nav a {
  text-decoration: none;
}
.nav a:visited {
  color: white;
}

@media (max-width: 415px) {
  .nav {
    visibility: hidden;
  }

  .backBTN {
    display: block;
  }
  .siteHeader {
    display: block;
  }
}
